.contacts{
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contacts__caption{
  font-size: 11px;
  color: #9A9A9A;
}
.contacts__phone{
  font-size: 26px;
}
.contacts__schedule{
  font-size: 13px;
  padding-right: 2px;
  margin-top: -7px;
}
.contacts__schedule-text{
  color: #D3A557;
}
.contacts__schedule:hover .info__schedule-drop-down{
  display: inline-block;
}
.contacts__schedule-text{
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  transition: color 100ms;
  -webkit-transition: color 100ms;
  -moz-transition: color 100ms;
  -ms-transition: color 100ms;
  -o-transition: color 100ms;
}
.contacts__schedule:hover .contacts__schedule-text{
  color: white;
}
.contacts__schedule-drop-down{
  z-index: 1;
  position: absolute;
  right: 9999px;
  top: 100%;
  padding: 12px 19px;
  padding-bottom: 16px;
  background-color: #EDEDED;
  opacity: 0;
  color: #1E1F20;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-top: 7px;
  text-align: left;
  transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
}
.contacts__schedule-drop-down::after{
  content: "";
  display: block;
  box-sizing: content-box;
  position: absolute;
  bottom: 100%;
  right: 42px;

  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom: 9px solid #EDEDED;
  border-top-width: 0;
}
.contacts__schedule-drop-down::before{
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  height: 9px;
  width: 100%;
}
.contacts__schedule-work{
  font-weight: 700;
  margin-bottom: 4px;
}
.contacts__schedule:hover .contacts__schedule-drop-down{
  opacity: 80%;
  right: 0;
}