.form__row{
  display: flex;
  justify-content: stretch;
  margin-bottom: 26px;
}
.form__row--alight--end{
  justify-content: flex-end;
}
.form__input{
  height: 65px;
  flex: 1;
  padding: 0 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #1A1B1E;
  font-size: 18px;
  margin-right: 28px;
}
.form__input:last-child{
  margin-right: 0;
}
.form__input::placeholder{
  color: #666;
}
.form__input:focus{
  border: 1px solid #E5C288;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
}
.form__input--textarea{
  resize: none;
  height: 235px;
  padding: 29px 30px;
}
.form__controlls{
  display: flex;
  margin-bottom: 31px;
}
.form__controlls-title{
  flex-shrink: 0;
  margin-right: 111px;
  font-size: 18px;
  padding-top: 8px;
}
.form__btn{
  padding: 0;
  width: 165px;
  height: 52px;
}
.form__btn:last-child{
  margin-left: 22px;
}