.partners{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: -65px;
}

.partners__item{
  margin-right: 4%;
  margin-bottom: 65px;
}
.partners__item:nth-child(4n){
  margin-right: 0;
}
.partners__item:last-child{
  margin-right: 0;
}
.partners__link{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 157px;
}
.partners__img{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: filter 200ms;
  -webkit-transition: filter 200ms;
  -moz-transition: filter 200ms;
  -ms-transition: filter 200ms;
  -o-transition: filter 200ms;
}
.partners__img:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}