.review{
  background-color: #F4F5F5;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  padding-top: 52px;
  padding-bottom: 32px;
}

.review__user{
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  padding-right: 25px;
  padding-left: 29px;
  margin-bottom: 29px;
}
.review__avatar{
  margin-right: 21px;
  width: 139px;
  height: 139px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.review__avatar-img{
  width: 100%;
  height: 100%;
}
.review__user-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 34px;
}
.review__user-personal{
  display: flex;
  margin-bottom: 7px;
  padding-left: 2px;
}
.review__user-name{
  font-size: 24px;
  color: #1A1B1E;
  margin-right: 8px;
  font-weight: 700;
}
.review__user-personal:hover .review__user-name{
  color: #2E77A4;
  text-decoration: underline;
}
.review__user-vk{
  background-color: #2E77A4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
}
.review__tags{
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;  
}
.review__tags-item{
  margin-right: 15px;
  margin-bottom: 5px;
}
.review__content{
  padding: 0 30px;
}
.review__title{
  font-weight: 700;
  font-size: 30px;
  color: #202020;
  padding-left: 4px;
  margin-bottom: 12px;
}
.review__text{
  margin-bottom: 49px;
}
.review__text p{
  color: #818181;
  line-height: 1.7;
}
.review__date{
  font-weight: 600;
  font-size: 14px;
  color: #1A1B1E;
}


