.social__list{
  display: flex;
}
.social__item{
  margin-right: 10px;
}
.social__item:last-child{
  margin-right: 0;
}
.social__link{
  display: block;
  width: 36px;
  height: 36px;
}
.social__link--instagramm{
  background: url('../../img/css_sprites.png') -10px -10px;
}
.social__link--instagramm:hover{
  background: url('../../img/css_sprites.png') -66px -10px;
}
.social__link--vk{
  background: url('../../img/css_sprites.png') -122px -10px;
}
.social__link--vk:hover{
  background: url('../../img/css_sprites.png') -122px -66px;
}
.social__link--telegramm{
  background: url('../../img/css_sprites.png') -10px -66px;
}
.social__link--telegramm:hover{
  background: url('../../img/css_sprites.png') -66px -66px;
}
.social__link--facebook{
  background: url('../../img/css_sprites.png') -10px -122px;
}
.social__link--facebook:hover{
  background: url('../../img/css_sprites.png') -66px -122px;
}

/* .social__link{
  display: block;
  width: 36px;
  height: 36px;
  background-color: #454545;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  color: #29282D;
  overflow: hidden;
  font-size: 24px;
  transition: background 200ms;
  -webkit-transition: background 200ms;
  -moz-transition: background 200ms;
  -ms-transition: background 200ms;
  -o-transition: background 200ms;
}
.social__link--facebook{
  font-size: 29px;
}
.social__link--facebook i{
  position: relative;
  top: 3px;
  left: 2px;
}
.social__link:hover{
  background-color: #868686;
} */