@keyframes bounce{
  from{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 0;
  }
  
  20%{
    opacity: 0;
  }
  40%{
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}
  
  60%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }

  75%{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
  90%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

  to{
    opacity: 1;
  }
}

.welcome{
  background: url('../../img/background/welcome-background.png') center top no-repeat, url('../../img/background/bottom-pic-1.png') right -8px bottom 224px no-repeat #29282D;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__content{
  animation: welcome 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
}
.welcome__logo{
  margin-bottom: 59px;
}

